*{margin:0; padding:0; outline:0;}
body{font-family:arial; font-size:20px; }
.content{background:#fff; width:700px;margin:0 auto;}
.header,.footer{
	text-align:center; 
	background:#D9A554; 
	padding:10px;
	color:#f0f0f0;}
.maincontent{background:#FEEEAD ;margin:10px; padding: 5px 10px;}

.column {
  float: left;
  width: 46%;
  padding: 10px;
}
.row::after {
  content: " ";
  clear: both;
  display: table;
}


.flip-box-back img{width:300px;height:200px}
.flip-box-front h1{ text-align:center; padding-top:80px;  }

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #BD7F3F;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}



.flip-box-front {
  background-image:url("images/bg.jpg") ;
  color: #000;
   position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
   position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
